# Output

In [4]:
print("Hola mundo!")

Hola mundo!

In [3]:
print("Hola!")
print("Soy un codigo de Python")

Hola!
Soy un codigo de Python

In [2]:
print("Hola: ", end=" ")
print("Soy un codigo de Python")

Hola:  Soy un codigo de Python

In [11]:
nombre1="Ariel"
nombre2="Montserrat"
apellido1="de la Cruz"
apellido2="Sandoval"

nombre_completo = nombre1  + " " + nombre2 + " " + apellido1 + " " + apellido2
print("Hola", nombre_completo)

Hola Ariel Montserrat de la Cruz Sandoval

# Input

In [10]:
entrada = input()
print("Ingresaste "+entrada)

 Davo

Ingresaste Davo

Escribe un código que reciba tu nombre como entrada, y que luego imprima un saludo con tu nombre como salida.

In [13]:
nombre = input("Por favor ingresa tu nombre: ")
print("Hola " + nombre)

Por favor ingresa tu nombre:  Juan Pablo

Hola Juan Pablo

# Variables y tipos de datos

str

In [14]:
cadena_de_texto = "Soy un texto :D"
type(cadena_de_texto)

str

In [17]:
doslineas = """linea 1
linea 2"""
treslineas = '''linea 1
linea 2 
linea 3'''
print(doslineas)
print(treslineas)

linea 1
linea 2
linea 1
linea 2
linea 3

In [18]:
poema = ''' 
Cultivo una rosa blanca
en junio con en enero
para el amigo sincero
que me das su mano franca.

Y para el cruel que me arranca
el corazón con que vivo;
cardo ni ortiga cultivo;
cultivo la rosa blanca.'''
print(poema)
type(poema)

Cultivo una rosa blanca
en junio con en enero
para el amigo sincero
que me das su mano franca.

Y para el cruel que me arranca
el corazón con que vivo;
cardo ni ortiga cultivo;
cultivo la rosa blanca.

str

# String

AL usar la funcion input:

In [19]:
input()

 1

'1'

Obtenemos un dato de tipo str.

In [20]:
valor_de_entrada = input()
type(valor_de_entrada)

 2

str

In [1]:
dialogo = "Somos \"amigas\""
print(dialogo)

Somos "amigas"

In [2]:
print("esto es una diagonal invertida \\")

esto es una diagonal invertida \

In [3]:
print("Esto es una linea \nEsto es otra linea")

Esto es una linea
Esto es otra linea

In [5]:
print("Esto es una linea normal \n\tEsto es una linea con tabulador")

Esto es una linea normal
	Esto es una linea con tabulador

In [6]:
print("C1\tC2\tC3\tC4")
print("10\t1.3\t5.6\t8")

C1	C2	C3	C4
10	1.3	5.6	8

In [7]:
print("AEIOU\bBCD")

AEIOBCD

In [8]:
print("Hola\rAdios")

Adios

In [9]:
print("Adios\rHola")

Holas

# Operaciones y métodos

In [23]:
nombre = "Pamela"
print(nombre[3:]) # me vas a escribir hasta la tercer letra hasta el ultimo

ela

In [25]:
saludo = "Buenos días"
saludo += " ¿Cómo estás?"
print(saludo)

Buenos días ¿Cómo estás?

# Lower

In [26]:
str1 = input()
str1 = str1.lower()
print(str1)

 JUAN PABLO

juan pablo

# Upper

In [29]:
str2 = input()
str2 = str2.upper()
print(str2)

 for story

FOR STORY

# Title

In [ ]:
str3 = input()
str3 = str.title()
print(str3)

In [30]:
str4 = "tres tristes tigres tragabam trigo en un trigal"
lista = str4.split()
print(lista)

['tres', 'tristes', 'tigres', 'tragabam', 'trigo', 'en', 'un', 'trigal']

In [31]:
str4 = "tres tristes tigeres tragaban trigo en un trigal"
lista = str4.split("t")
print(lista)

['', 'res ', 'ris', 'es ', 'igeres ', 'ragaban ', 'rigo en un ', 'rigal']

# Split

In [3]:
poema = ''' 
Cultivo una rosa blanca
en junio con en enero
para el amigo sincero
que me das su mano franca.

Y para el cruel que me arranca
el corazón con que vivo;
cardo ni ortiga cultivo;
cultivo la rosa blanca.'''
lista = poema.splitlines()
lista

[' ',
 'Cultivo una rosa blanca',
 'en junio con en enero',
 'para el amigo sincero',
 'que me das su mano franca.',
 '',
 'Y para el cruel que me arranca',
 'el corazón con que vivo;',
 'cardo ni ortiga cultivo;',
 'cultivo la rosa blanca.']

# Join

In [4]:
nombre = " " 
lista = ["Melanie", "Dannae", "Macias", "Pastillas"]
nombre = nombre.join(lista)
print(nombre)

Melanie Dannae Macias Pastillas

# islower

In [5]:
n = input()
print(n.islower())

 HOLA

False

# isupper

In [7]:
n = input()
print(n.isupper())

 HOLA

True

# istitle

In [11]:
n = input()
print(n.istitle())

 Hola

True

# isalpha

In [9]:
n = input()
print(n.isalpha())

 12

False

# isnumeric

In [12]:
n = input()
print(n.isnumeric())

 122

True

# Replace

In [13]:
poema = ''' 
Cultivo una rosa blanca
en junio con en enero
para el amigo sincero
que me das su mano franca.

Y para el cruel que me arranca
el corazón con que vivo;
cardo ni ortiga cultivo;
cultivo la rosa blanca.'''
nuevo_poema = poema.replace("una rosa blanca", "un tulipán amarillo")
nuevo_poema = nuevo_poema.replace("la rosa blanca", "el tulipan amarillo")
print(nuevo_poema)

Cultivo un tulipán amarillo
en junio con en enero
para el amigo sincero
que me das su mano franca.

Y para el cruel que me arranca
el corazón con que vivo;
cardo ni ortiga cultivo;
cultivo el tulipan amarillo.

In [14]:
poema = ''' 
Cultivo una rosa blanca
en junio con en enero
para el amigo sincero
que me das su mano franca.

Y para el cruel que me arranca
el corazón con que vivo;
cardo ni ortiga cultivo;
cultivo la rosa blanca.'''

nuevo_poema = poema.lower().replace("cultivo","siembro")
print(nuevo_poema)

siembro una rosa blanca
en junio con en enero
para el amigo sincero
que me das su mano franca.

y para el cruel que me arranca
el corazón con que vivo;
cardo ni ortiga siembro;
siembro la rosa blanca.

# Index

In [20]:
frase = "Si lo puedes soñar, lo puedes lograr"
buscar = "puedes"
x = frase.index(buscar)
print(x)
print(frase[x:x+len(buscar)])

6
puedes

# rindex

In [26]:
frase = "Si lo puedes soñar, lo puedes lograr"
buscar = "puedes"
x = frase.rindex(buscar)
print(x)
print(frase[x:x+len(buscar)])

23
puedes

# Find

In [ ]:
# Es lo mismo que index pero aqui si se regresa un -1 indicando que no existe la palabra

In [22]:
frase = "Si lo puedes soñar, lo puedes lograr"
buscar = "puedes"
x = frase.find(buscar)
print(x)
print(frase[x:x+len(buscar)])

6
puedes

In [23]:
frase = "Si lo puedes soñar, lo puedes lograr"
buscar = "chocolate"
x = frase.find(buscar)
print(x)
print(frase[x:x+len(buscar)])

-1

In [24]:
frase = "Si lo puedes soñar, lo puedes lograr"
buscar = "puedes"
x = frase.find(buscar)
print(x)
print(frase[x:x+len(buscar)])

6
puedes

## Format

In [10]:
fecha = " Hoy es {} de {} del año {}"
print(fecha.format(10, "Febrero", 2024))
print(fecha.format(24, "diciembre", 2023))
print(fecha.format("chocolate", 4.05, True))

 Hoy es 10 de Febrero del año 2024
 Hoy es 24 de diciembre del año 2023
 Hoy es chocolate de 4.05 del año True

In [11]:
fecha = "Hoy es {dia} de {mes} del año {año}"

# TIPOS DE DATOS

## int

In [12]:
numero_entero = 520
type(numero_entero)

int

## Float

In [13]:
numero_punto_flotante = 40.003
type(numero_punto_flotante)

float

## Bool

In [14]:
booleano1 = True
type(booleano1)

bool

In [ ]:
booleano2 = False
type(booleano2)

# Casting

## int -> str

In [17]:
int1 = 540
print(int1)
print(type(int1))
str1 = str(int1) # cast
print(str1)
print(type(str1))

540
<class 'int'>
540
<class 'str'>

## float -> str

In [18]:
float1 = 0.45
print(float1)
print(type(float1))
str1 = str(float1) # cast
print(str1)
print(type(str1))

0.45
<class 'float'>
0.45
<class 'str'>

## Bool -> str

In [19]:
bool1 = True
print(bool1)
print(type(bool1))
str1 = str(bool1) #cast
print(str1)
print(type(str1))

True
<class 'bool'>
True
<class 'str'>

In [20]:
string1 = "500"
print(string1)
print(type(string1))
int1 = int(string1)
print(int1)
print(type(int1))

500
<class 'str'>
500
<class 'int'>

In [2]:
# Este codigo va a marcar error
string2 = 50
print(string2)
print(type(string2))
int2 = int(string2)
print(int2)
print(type(int2))

50
<class 'int'>
50
<class 'int'>

## float -> int

In [2]:
float1 = 40.303
print(float1)
print(type(float1))
int1 = int(float1)
print(int1)
print(type(int1))

40.303
<class 'float'>
40
<class 'int'>

## Bool -> int

In [3]:
bool1 = True
print(bool1)
print(type(bool1))
int1 = int(bool1)
print(int1)
print(type(int1))

True
<class 'bool'>
1
<class 'int'>

In [4]:
bool2 = False
print(bool2)
print(type(bool2))
int2 = int(bool2)
print(type(int2))

False
<class 'bool'>
<class 'int'>

## str -> float

In [1]:
str1 = "40.05"
print(str1)
print(type(str1))
float1 = float(str1)
print(float)
print(type(float1))

40.05
<class 'str'>
<class 'float'>
<class 'float'>

In [29]:
str2 = "48"
print(str2)
print(type(str2))
float2 = float(str2)
print(float2)
print(type(float))

48
<class 'str'>

TypeError: 'float' object is not callable

In [7]:
# Este codigo va a marcar error
str3 = "hola"
print(str3)
print(type(str3))
float3 = float(str3)
print(float3)
print(type(float3))

hola
<class 'str'>

ValueError: could not convert string to float: 'hola'

# int -> float

In [32]:
int1 = 34
print(int)
print(type(int1))
float1 = float(int1)
print(float1)
print(type(float1))

<class 'int'>
<class 'int'>

TypeError: 'float' object is not callable

## bool -> float

In [33]:
bool1 = True
print(bool1)
print(type(bool1))
float1 = float(bool1)
print(float1)
print(type(float1))

True
<class 'bool'>

TypeError: 'float' object is not callable

In [35]:
bool2 = False
print(bool2)
print(type(bool2))
float2 = float(bool2)
print(float2)
print(tyoe(float2))

False
<class 'bool'>

TypeError: 'float' object is not callable

## str -> bool

In [36]:
str1 = "True"
print(str1)
print(type(str1))
bool1 = bool(str1)
print(bool1)
print(type(bool1))

True
<class 'str'>
True
<class 'bool'>

In [37]:
str2 = "False"
print(str2)
print(type(str2))
bool2 = bool(str2)
print(bool2)
print(type(bool2))

False
<class 'str'>
True
<class 'bool'>

In [39]:
str3 = ""
print(str3)
print(type(str3))
bool3str3 = bool(str3)
print(bool3str3)
print(type(bool3str3))

<class 'str'>
False
<class 'bool'>

In [41]:
str4 = "*"
print(str4)
print(type(str4))
bool4 = bool(str4)
print(bool4)
print(type(bool4))

*
<class 'str'>
True
<class 'bool'>

## int -> bool

In [42]:
int1 = 1
print(int1)
print(type(int1))
bool1 = bool(int1)
print(bool1)
print(type(bool1))

1
<class 'int'>
True
<class 'bool'>

In [43]:
int = 20
print(int2)
print(type(int2))
bool2 = bool(int2)
print(bool2)
print(type(bool2))

0
<class 'int'>
False
<class 'bool'>

int3 = 0
print(int3)
print(type(int3))
bool3 = bool(int3)
print(bool3)
print(type(bool3))

In [45]:
int4 = -10
print(int4)
print(type(int4))
bool4 = bool(int4)
print(bool4)
print(type(bool4))

-10
<class 'int'>
True
<class 'bool'>

## Float -> bool

In [2]:
float1 = 1.0
print(float1)
print(type(float1))
bool1 = bool(float1)
print(bool1)
print(type(bool1))

1.0
<class 'float'>
True
<class 'bool'>

In [4]:
float2 = 0.0
print(float2)
print(type(float2))
bool2 = bool(float2)
print(bool2)
print(type(bool2))

0.0
<class 'float'>
False
<class 'bool'>

In [6]:
float3= -4.2
print(float3)
print(type(float3))
bool3 = bool(float3)
print(bool3)
print(type(bool3))

-4.2
<class 'float'>
True
<class 'bool'>

In [8]:
float4= 0.005
print(float4)
print(type(float4))
bool4 = bool(float4)
print(bool4)
print(type(bool4))

0.005
<class 'float'>
True
<class 'bool'>

# STRING

In [9]:
año = 2023
canción = "Shake It Off"
_123 = 123

print(año)
print(canción)
print(_123)

数字 = 42
名前 = "釘崎野薔薇"
合計 = 19.53
print(数字)
print(名前)
print(合計)

2023
Shake It Off
123
42
釘崎野薔薇
19.53

In [10]:
nombre = "Lily"
Nombre = "Marisol"
print(nombre)
print(Nombre)

Lily
Marisol

In [13]:
esta_variable_muy_pero_muy_larga_no_es_un_chiste_es_un_nombre_valido_pero_mejor_no_escriban_nombres_asi_de_largos_no_sea = 513.000009
print(esta_variable_muy_pero_muy_larga_no_es_un_chiste_es_un_nombre_valido_pero_mejor_no_escriban_nombres_asi_de_largos_no_sea)

513.000009

In [11]:
miVariable = True
print(miVariable)
print(type(miVariable))

miVariable = "Hola"
print(miVariable)
print(type(miVariable))

miVariable = 40.5
print(miVariable)
print(type(miVariable))

True
<class 'bool'>
Hola
<class 'str'>
40.5
<class 'float'>